/*
  required for storybook
  definitions for nuxt in production are located in nuxt.config.js
*/
@import url('https://db.onlinewebfonts.com/c/a082fd3df68a0b54e0d4d794bc38d268?family=Blender+Pro+Bold');
@import url('https://fonts.googleapis.com/css?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tulpen+One&display=swap');

/*
  here import is different between nuxt and storybook because of the url path
  so serve them from static instead
*/
@font-face {
  font-family: 'Blender Pro Bold', sans-serif;
  src: url('/fonts/sector_034.ttf') local('/fonts/sector_034.ttf') format('truetype');
}
@font-face {
  font-family: 'Weapons';
  src: url('/fonts/weapons.ttf') format('truetype');
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Didact Gothic', sans-serif;
  font-size: medium;
  letter-spacing: 0.02em;
  color: #010001;
  text-decoration: none;
}
v-content {
  margin: 10px;
}
h1 {
  font-size: xx-large;
}
h2 {
  font-size: x-large;
}
h6 {
  font-size: smaller;
}
.container {
  display: block;
  min-width: 500px;
}